/* Estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f0f8f5;
    color: #333;
    text-align: center; /* Centralizar textos */
}

/* Cabeçalho com imagem de fundo */
header {
    background-image: url('IMG-20220621-WA0047.jpeg'); /* Insira o caminho correto da imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.countdown {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

/* Centralizar conteúdo */
.tabcontent, section {
    margin: 20px auto;
    max-width: 600px; /* Largura máxima para manter o layout agradável em telas grandes */
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4d8b6b;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4d8b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Centralizado e responsivo */
}

button:hover {
    background-color: #3a6b54;
}

footer {
    background-color: #88c999;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos de abas */
.tab {
    display: flex;
    justify-content: center; /* Centraliza as abas horizontalmente */
    background-color: #88c999;
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    margin: 0 10px; /* Espaçamento horizontal entre as abas */
}

.tab button:hover {
    background-color: #4d8b6b;
}

.tab button.active {
    background-color: #4d8b6b;
}

.tabcontent {
    display: none;
    padding: 20px;
    animation: fadeEffect 0.5s;
}

/* Animação de efeito de fade */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    .countdown {
        font-size: 1.2em;
    }

    .tab {
        flex-wrap: wrap; /* Faz com que as abas quebrem para uma nova linha em telas pequenas */
    }

    .tab button {
        width: 100%;
        margin-bottom: 5px;
    }

    .tabcontent, section {
        margin: 10px;
        padding: 15px;
    }
}
